doctype html
head
  title Login
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='./images/icons/favicon.ico')
  // ===============================================================================================
  link(href='./modules/@fortawesome/fontawesome-free/css/all.min.css' rel='stylesheet')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='./css/authentication.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-pic(data-tilt='')
        img(src='./images/img-02.png' alt='IMG')
      form#signUpForm.login100-form
        span.login100-form-title  Be a Member 
        .wrap-input100
          input#signUpUsername.input100(type='text' name='username' placeholder='Username' required='')
          span.focus-input100
          span.symbol-input100
            i.fas.fa-user(aria-hidden='true')
        .wrap-input100
          input#signUpEmail.input100(type='text' name='email' placeholder='Email' required='')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        .wrap-input100
          input#signUpPassword.input100(type='password' name='password' placeholder='Password' required='')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock-open(aria-hidden='true')
        .wrap-input100
          input#confirmPassword.input100(type='password' name='confirm-pass' placeholder='Confirm Password' required='')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
        .container-login100-form-btn
          button.login100-form-btn(type='submit') Register
        .text-center(style='padding-top: 136px')
          a.txt2(href='./signin')
            | Have an account?Sign In 
            i.fas.fa-long-arrow-alt-right(aria-hidden='true')
script(src='./modules/jquery/dist/jquery.min.js')
script(src='./js/auth.js')
